$primary-color: hsl(246, 80%, 60%);

$work-color: hsl(15, 100%, 70%);
$play-color: hsl(195, 74%, 62%);
$study-color: hsl(348, 100%, 68%);
$exercise-color: hsl(145, 58%, 55%);
$social-color: hsl(264, 64%, 52%);
$self-care-color: hsl(43, 84%, 65%);

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

$colors: (
  'primary': $primary-color,
  'work': $work-color,
  'play': $play-color,
  'study': $study-color,
  'exercise': $exercise-color,
  'social': $social-color,
  'self-care': $self-care-color,
  'very-dark-blue': $very-dark-blue,
  'dark-blue': $dark-blue,
  'desaturated-blue': $desaturated-blue,
  'pale-blue': $pale-blue,
);

$border-radius: 15px;
$padding: 30px;

@each $colorName, $color in $colors {
  .bg-#{$colorName} {
    background-color: $color;
  }
}

@mixin d-flex {
  display: flex;
}

@mixin flex-center {
  @include d-flex;
  align-items: center;
  justify-content: center;
}

@mixin card-base {
  border-radius: $border-radius;
}

@mixin btn-base {
  background: transparent;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: medium;
  cursor: pointer;
}
